body {
    background-color: #f8f9fa;
}

.container {
    max-width: 400px; /* Set the maximum width */
    height: 600px; /* Set the height */
    margin: auto; /* Center the container */
}

.card {
    border: none;
    border-radius: 10px;
    height: 100%; /* Make the card take full height of the container */
}

.btn {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
